<p>posts works!</p>
<div class="flex justify-end mt-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md" [routerLink]="['/posts/add']">Crear nuevo
        post</button>
</div>
<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Lista de Posts</h2>

    <div *ngFor="let post of posts" class="mb-4 border rounded-md p-4">
        <h3 class="text-lg font-semibold">{{ post.title }}</h3>
        <p class="text-gray-600">Creado por: {{ post.userID }}</p>
        <p>{{ post.content }}</p>
        <p class="mt-2">Likes: {{ post.likes }}</p>
        <p class="text-sm text-gray-500">Creado en: {{ post.createdAt | date }}</p>
        <p class="text-sm text-gray-500">Actualizado en: {{ post.updatedAt | date }}</p>
        <p class="text-sm text-gray-500">Eliminado en: {{ post.deletedAt | date }}</p>
        <!-- Agregamos dos botones unos de like y otro de dislike -->
        <div class="flex justify-end mt-4">
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md"
                (click)="onLike(post._id?.toString() ?? '')">Like</button> |
            <button class="bg-red-500 text-white px-4 py-2 rounded-md"
                (click)="onDislike(post._id?.toString() ?? '')">Dislike</button> |
        </div>


        <button class="bg-blue-500 text-white px-4 py-2 rounded-md"
            [routerLink]="['/posts/edit', post._id]">Editar</button> |
        <button class="bg-red-500 text-white px-4 py-2 rounded-md"
            (click)="onDelete(post._id?.toString() ?? '')">Eliminar</button>


    </div>

</div>

